# Langchain Agent
langchain
openai
langchain-openai
langchain_openai
langchain-mongodb
langchain_experimental
langgraph
langchain_community
langmem
langchain-tavily
langgraph_supervisor
langgraph-checkpoint-sqlite
langchain-mcp-adapters>=0.1.0

# Langchain Tool agent
langchain
pydantic
python-dotenv
streamlit>=1.28.0

# Jupyter
ipykernel
ipython

dotenv
typing
asyncio

# MCP
mcp[cli]==1.13.1
ipykernel
httpx